body
{
    background-color: #DBEBFF;
    color: #535961;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
p
{
    color: #535961;
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
.container
{
    display: flex;
    margin: 30px auto;
    width: 70%;
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    
}
.titleContainer
{
    text-align: center;
}

.blogContainer
{
    display: flex;
    flex-wrap: wrap;
    
}
.innerContainer
{
    display: block;
    margin: 3% auto;
    width: 95%;
}
.innerBlogContainer
{
    width: 45%;
    margin: 10px auto;
}
.contenido
{
    box-shadow: -5px 5px 30px -10px #6e6e6e;
}
.cabecera 
{
    background-color: #5596EB;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    box-shadow: -5px 5px 20px -5px #6e6e6e;
}
.innerContainerImg
{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

img
{
    width: 100%;
    height: auto;
    margin: auto;
}
.padImg {
    padding: 0
}
h1
{
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}